@import url('https://fonts.googleapis.com/css?family=Righteous|Secular+One');

body {
    direction: rtl;
    background-image: url('../images/back.jpg');
    background-position: right;
    background-size: cover;
}

#container {
    width: 960px;
    margin: 0 auto;
    position: center;
    right:20px;
}

.active {
    background-color: blueviolet;
}
#container {
    width: 960px;
    margin: 0 auto;
    position: center;
    left:200px;
}
/*העמוד הנוכחי*/
.active {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 70px;
    display: block;
    color: #ff006e;
    font-family: 'Secular One', sans-serif;
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Righteous', cursive;
    letter-spacing: 10px;
    font-size: 30px;
}

ul {
    list-style-type: none;
    margin: 20px 10px;
    padding: 0;
    overflow: hidden;
    background-color: #ff006e;
    border-radius: 10px;
}

li {
    float: right;
    font-family: Tahoma;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #b35fe6;
        }
p {
    font-family: Tahoma;
    margin-top: 16px;
    padding: 6px;
    text-align: center;
    color: #ff006e;
    font-size: 20px;
}
#tip {
    font-family: Tahoma;
    font-weight:bold;
    margin-top: 16px;
    padding: 6px;
    text-align: center;
    color: blueviolet;
    font-size: 15px;
}
div#Animation {
    width: 312px;
    height: 310px;
    background-image: url('../images/animation.jpg');
    opacity: 0.5;
    filter: alpha(opacity=50);
}

    div#Animation:hover {
        background-position: 0 -312px;
    }

    div#Animation:active {
        background-position: 0 -630px;
    }

    div#Animation:visited {
        background-position: 0 -930px;
    }

    audio{
        height:15px;
    }

